@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/inter/400.css';  
@import '@fontsource/inter/600.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} 
